<div class="container">
  <div class="sixteen columns" id="work_show">
    <%= image_tag @blue.image_url %>
    <div id="work_show_description">
      <h4><%= @blue.title %></h4>
      <p><%= @blue.description %></p>
    </div>
  </div>
</div>

