<div class="container">
  <div class="sixteen columns" id="work_show">
    <%= image_tag @torso.image_url %>
    <div id="work_show_description">
      <h4><%= @torso.title %></h4>
      <p><%= @torso.description %></p>
    </div>
  </div>
</div>
