<div class="container">
  <div class="sixteen columns" id="work_show">
    <%= image_tag @figure.image_url %>
    <div id="work_show_description">
      <h4><%= @figure.title %></h4>
      <p><%= @figure.description %></p>
    </div>
  </div>
</div>
 