<div class="container">
  <div class="sixteen columns" id="work">
    <h3>Paintings</h3>
    <% @paintings.each do |painting| %>
      <%= image_tag painting.image_url %>
    <% end %>
  </div>
</div>
