<div class="container">
  <div class="sixteen columns" id="work">
    <h3>Vessels</h3>
    <% @vessels.each do |vessel| %>
      <%= link_to image_tag(vessel.image_url), vessel %>
    <% end %>
  </div>
</div>
