<div class="container">
  <div class="sixteen columns" id="work_show">
    <%= image_tag @vessel.image_url %>
    <div id="work_show_description">
      <h4><%= @vessel.title %></h4>
      <p><%= @vessel.description %></p>
    </div>
  </div>
</div>
