<div class="container">
  <div class="sixteen columns" id="work">
    <h3>Blooms</h3>
    <% @blooms.each do |bloom| %>
      <%= link_to image_tag(bloom.image_url), bloom %>

    <% end %>
  </div>
</div>
