<div class="container">
  <% @abouts.each do |about| %>
    <div class="sixteen columns">
      <h3 id="AboutSubtitle"><%= about.subtitle %></h3>
      
      <br>
      <div class="seven columns alpha" id="AboutImage">
        <%= image_tag about.image %>
      </div>

      <div class="nine columns omega">
        <%= about.description %>
      </div>

    </div>
  <% end %>
</div>
