//index
#work{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: inline-block;
    margin: 4px;
    width: 32%;
    height: auto;
    opacity: 1;
  }

  img:hover {
    opacity: 0.5;
  }
}


//show
#work_show{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  img{
    width: 100%;
    height:auto;
  }
}

#work_show_description{
  margin-top: 2%;
}